@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Withdraw", "Transaction", new {checkingAccountId = ViewBag.CheckingAccountId})" class="btn btn-primary btn-lg btn-block">
            <span class="fa fa-arrow-circle-down"></span>
            Withdrawl
        </a>
        <a href="@Url.Action("QuickCash100", "Transaction", new { checkingAccountId = ViewBag.CheckingAccountId, amount = 100 })" class="btn btn-primary btn-lg btn-block">
            <span class="fa fa-bolt"></span>
            Quick Cash $100
        </a>
        <a href="@Url.Action("Details", "CheckingAccount")" class="btn btn-primary btn-lg btn-block">
            <span class="fa fa-question-circle"></span>
            Balance Inquiry
        </a>
        @ViewBag.InsuffMessage
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Statement", "CheckingAccount", new { id = ViewBag.CheckingAccountId })" class="btn btn-primary btn-lg btn-block">
            <span class="fa fa-print"></span>
            Print Statement
        </a>
        <a href="@Url.Action("Transfer", "Transaction", new { checkingAccountId = ViewBag.CheckingAccountId })" class="btn btn-primary btn-lg btn-block">
            <span class="fa fa-exchange-alt"></span>
            Transfer Funds
        </a>
        <a href="@Url.Action("Deposit", "Transaction", new {checkingAccountId = ViewBag.CheckingAccountId})" class="btn btn-primary btn-lg btn-block">
            <span class="fa fa-arrow-circle-up"></span>
            Deposit
        </a>
    </div>
</div>